[*.{kt,kts}]
# 기본 설정
max_line_length = 200
insert_final_newline = true

# 충돌 나는 규칙들 명시적 허용/설정
ktlint_standard_backing-property-naming = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_function-naming = disabled
ktlint_standard_package-name = disabled

# 파싱 에러 방지를 위한 인코딩 설정
charset = utf-8